 {% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1>Portofolio</h1>
	<div style="text-align:center"><img class="img-circle" src ="http://pm1.narvii.com/5787/c9b03d0f17d5fa360f3350ab9a8a26a5edd26434_hq.jpg" alt = "ini kalo gua gagal post gambar" height="360"></div>
    <hr/>
    <section name="bio" align="center" style="font-weight:bold">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
	<section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
		

    {% endblock %}
